<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="DataBrain.Core"/>
    <add assembly="NLog.Extended" />
    <add assembly="DataBrain.Core.Logging.AzureAppendBlob" />
  </extensions>
  <variable name="json" value='{"date":"${date:format=yyyy-MM-dd HH\:mm\:ss.fff zzz}",,"level":"${level}","event":${message},"logger":"${logger}","environment":"dev","host":"${machinename}"}'/>

  <targets async="true">
    <target name="FileWrapper" xsi:type="AsyncWrapper" queueLimit="50" overflowAction="Discard">
      <target name="File" xsi:type="File"
					  layout="${json}"
					  fileName="${basedir}/DataBrain.api.log"
					  archiveFileName="${basedir}/DataBrain.api-archive{#}.log"
					  archiveEvery="Day"
					  archiveNumbering="Rolling"
					  maxArchiveFiles="7"
					  concurrentWrites="true"
					  keepFileOpen="false"
					  encoding="iso-8859-2" />
    </target>
    <!--<target type="AzureAppendBlob" name="Azure"
            layout="${json}" 
            connectionString="DefaultEndpointsProtocol=https;AccountName=bigdecisioncoldstorage;AccountKey=TBD" 
            container="apilogs" 
            blobName="${date:universalTime=true:format=yyyy-MM-dd}/${date:universalTime=true:format=HH}:00.log">
      
    </target>-->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="FileWrapper" />
    <!--<logger name="*" minlevel="Trace" writeTo="Azure" />-->
  </rules>

</nlog>
